In [420]:
from itertools import combinations
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [64]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
694,tt1031969,15000000,8762890,The Rocker,Rainn Wilson|Josh Gad|Christina Applegate|Emma...,Peter Cattaneo,Opportunity rocks.,"Rob ""Fish"" Fishman is the drummer in '80s hair...",102,Comedy|Music,Fox Atomic,8/20/2008,5.4,2008
1739,tt0825232,45000000,175372502,The Bucket List,Jack Nicholson|Morgan Freeman|Sean Hayes|Bever...,Rob Reiner,"When he closed his eyes, his heart was opened",Corporate billionaire Edward and working class...,97,Comedy|Drama|Adventure,Warner Bros.|Storyline Entertainment|Two Ton F...,12/25/2007,6.9,2007
1694,tt0389790,150000000,287594577,Bee Movie,Jerry Seinfeld|RenÃ©e Zellweger|Matthew Broder...,Steve Hickner|Simon J. Smith,Born to bee wild.,"Barry B. Benson, a bee who has just graduated ...",91,Family|Animation|Adventure|Comedy,Pacific Data Images (PDI)|DreamWorks Animation...,10/28/2007,5.6,2007
114,tt1178665,8000000,35991087,A Walk in the Woods,Robert Redford|Nick Nolte|Emma Thompson|Nick O...,Ken Kwapis,"When you push yourself to the edge, the real f...","After spending two decades in England, Bill Br...",104,Drama|Adventure|Comedy,Wildwood Enterprises|Route One Films,9/2/2015,5.4,2015
1004,tt1397514,79000000,355692760,Journey 2: The Mysterious Island,Dwayne Johnson|Josh Hutcherson|Kristin Davis|V...,Brad Peyton,Believe the Impossible. Discover the Incredible.,Sean Anderson partners with his mom's boyfrien...,94,Adventure|Action|Science Fiction,New Line Cinema|Contrafilm|Walden Media,1/19/2012,5.8,2012

In [54]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [436]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#create new DataFrame with a column 'profit'
data_with_profit = data.copy(deep=True)

data_with_profit['profit'] = data_with_profit['revenue'] - data_with_profit['budget']
data_with_profit.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [438]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 

# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides ( tt1298650 )'
# если ответили верно, можете добавить комментарий со значком "+"

In [19]:
# тут пишем ваш код для решения данного вопроса:
df = data.loc[data['budget'].idxmax()]
print(df['original_title'], '(', df['imdb_id'], ')')

Pirates of the Caribbean: On Stranger Tides ( tt1298650 )

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [440]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals ( tt0279111 )'

In [21]:
df = data.loc[data['runtime'].idxmax()]
print(df['original_title'], '(', df['imdb_id'], ')')

Gods and Generals ( tt0279111 )

# 3. Какой из фильмов самый короткий (в минутах)?

In [441]:
df = data.loc[data['runtime'].idxmin()]
print(df['original_title'], '(', df['imdb_id'], ')')

answers['3'] = 'Winnie the Pooh ( tt1449283 )'

Winnie the Pooh ( tt1449283 )

# 4. Какова средняя длительность фильмов?

In [442]:
print(data['runtime'].mean())

answers['4'] = '110'

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [443]:
print(data['runtime'].median())

answers['5'] = '107'

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [444]:
# лучше код получения столбца profit вынести в Предобработку что в начале
df = data_with_profit.loc[data_with_profit['profit'].idxmax()]
print(df['original_title'], '(', df['imdb_id'], ')')

answers['6'] = 'Avatar ( tt0499549 )'

Avatar ( tt0499549 )

# 7. Какой фильм самый убыточный?

In [445]:
df = data_with_profit.loc[data_with_profit['profit'].idxmin()]
print(df['original_title'], '(', df['imdb_id'], ')')

answers['7'] = 'The Lone Ranger ( tt1210819 )'

The Lone Ranger ( tt1210819 )

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [446]:
df = data_with_profit.query('revenue > budget')
print(len(df))

answers['8'] = '1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [447]:
release_2008 = data_with_profit.query('release_year == 2008')
df = release_2008.loc[release_2008['revenue'].idxmax()]
print(df['original_title'], '(', df['imdb_id'], ')')

answers['9'] = 'The Dark Knight ( tt0468569 )'

The Dark Knight ( tt0468569 )

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [448]:
release_2012_2014 = data_with_profit.query('release_year >= 2012 & release_year <=2014')
df = release_2012_2014.loc[release_2012_2014['profit'].idxmin()]
print(df['original_title'], '(', df['imdb_id'], ')')

answers['10'] = 'The Lone Ranger ( tt1210819 )'

The Lone Ranger ( tt1210819 )

# 11. Какого жанра фильмов больше всего?

In [449]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
df = ''
df = df.join('|')
df = df.join(data['genres'])
df = df.replace(' ', '|')
df = df.split('|')
df = dict(Counter(df))
genres_array = pd.DataFrame([df])
genres_array = genres_array.transpose()
genres_max = genres_array[0].idxmax()
print(genres_max)

answers['11'] = 'Drama'

Drama

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [450]:
profitable = data_with_profit.query('profit > 0')
df = ''
df = df.join('|')
df = df.join(profitable['genres'])
df = df.replace(' ', '|')
df = df.split('|')
df = dict(Counter(df))
genres_array = pd.DataFrame([df])
genres_array = genres_array.transpose()
genres_max = genres_array[0].idxmax()
print(genres_max)

answers['12'] = 'Drama'

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [451]:
directors = data.groupby(['director'])['revenue'].sum().sort_values()
directors = pd.DataFrame([directors]).transpose()
directors_max = directors['revenue'].idxmax()
print(directors_max)

answers['13'] = 'Peter Jackson'

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [452]:
action = data[data.genres.str.contains("Action")].copy()
action['director'] = action.director.apply(lambda x:x.split('|'))
director = action.explode('director')
director_max = director['director'].value_counts()
director_max = pd.DataFrame([director_max]).transpose()
directors_name = director_max['director'].idxmax()
print(directors_name)

answers['14'] = 'Robert Rodriguez'

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [453]:
actors = data.copy()
actors['cast'] = actors.cast.apply(lambda x:x.split('|'))
actors_split = actors.explode('cast')
actors_2012 = actors_split.query('release_year == 2012')
actors_revenue = actors_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending = False)
actors_revenue = pd.DataFrame([actors_revenue]).transpose()
actor = actors_revenue['revenue'].idxmax()
print(actor)

answers['15'] = 'Chris Hemsworth'

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [454]:
mean_budget = data['budget'].mean()
data_high = data[data.budget > mean_budget]
actors = data_high.copy()
actors = pd.Series(actors.cast.str.split('|').sum()).value_counts()
print(actors.index[0])

answers['16'] = 'Matt Damon'

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [455]:
actors = data.copy()
x = actors[actors.cast.str.contains("Nicolas Cage")].genres.str.split('|').explode().value_counts()

print(x.index[0])

answers['17'] = 'Action'

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [456]:
min_profit = data_with_profit.copy()
Paramount = min_profit[min_profit['production_companies'].str.contains('Paramount Pictures')]
film = Paramount[['profit', 'original_title', 'production_companies']].sort_values('profit')
print(film['original_title'][:1])

answers['18'] = 'K-19: The Widowmaker'

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [457]:
summ = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(summ.index[0])

answers['19'] = '2015'

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [458]:
x = data_with_profit.copy()
warner = x[x['production_companies'].str.contains('Warner Bros')]
summ = pd.DataFrame([warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)]).transpose()['profit'].idxmax()
display(summ)

answers['20'] = '2014'

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [459]:
m = data.copy()
m.release_date = pd.to_datetime(m.release_date)
m.release_date.dt.month.value_counts()
m['month'] = m.release_date.dt.month
m['month'].value_counts()
month_max = pd.DataFrame([m['month'].value_counts()]).transpose()['month'].idxmax()
display(month_max)

answers['21'] = 'сентябрь'

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [460]:
m = data.copy()
m.release_date = pd.to_datetime(m.release_date)
m['month'] = m.release_date.dt.month
s = m.query('month >= 6 & month <= 8')
print(len(s))

answers['22'] = '450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [461]:
m = data.copy()
m.release_date = pd.to_datetime(m.release_date)
m['month'] = m.release_date.dt.month
w = m.query('month in [12, 1, 2]')
director = pd.DataFrame([w.director.str.split('|').explode().value_counts()]).transpose()['director'].idxmax()
print(director)

answers['23'] = 'Peter Jackson'

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [462]:
l= data.copy()
l['lenght'] = l['original_title'].apply(lambda x: len(x))
l['production_companies'] = l.production_companies.str.split("|")
stud = l.explode('production_companies')
answers['24'] = stud.groupby('production_companies').lenght.mean().sort_values(ascending=False).index[0]

print(answers['24'])

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [463]:
l = data.copy()
l['lenght'] = l['overview'].apply(lambda x: len(x.split(' ')))
l['production_companies'] = l.production_companies.str.split("|")
stud = l.explode('production_companies')
answers['25'] = stud.groupby('production_companies').lenght.mean().sort_values(ascending=False).index[0]

print(answers['25'])

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [464]:
x = data.copy()
percent = x.sort_values('vote_average', ascending=False)
display(percent[percent.vote_average > percent.vote_average.quantile(0.99)].original_title)

answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [465]:
from itertools import combinations
x = data.copy()
x['cast'] = x['cast'].str.split('|')
pair = x['cast'].reset_index()
pair['pairs'] = pair['cast'].apply(lambda x: list(combinations(x, 2)))
pair = pair.explode('pairs').reset_index()
Counter(pair['pairs']).most_common(1)

answers['27'] = 'Daniel Radcliffe & Rupert Grint '

# Submission

In [466]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides ( tt1298650 )',
 '2': 'Gods and Generals ( tt0279111 )',
 '3': 'Winnie the Pooh ( tt1449283 )',
 '4': '110',
 '5': '107',
 '6': 'Avatar ( tt0499549 )',
 '7': 'The Lone Ranger ( tt1210819 )',
 '8': '1478',
 '9': 'The Dark Knight ( tt0468569 )',
 '10': 'The Lone Ranger ( tt1210819 )',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint '}

In [467]:
# и убедиться что ни чего не пропустил)
len(answers)

27